# Project exclude paths
/.gradle/
/.idea/
/core/build/
/core/build/classes/java/main/
/desktop/build/
/desktop/build/classes/java/main/
/JDK/
/Release/
/settings/
/Release
/JDK
/mapdata.json
/error.txt
/releasing.txt
/Updater/out
/core/assets/error.txt
/core/assets/mapdata.json
/core/assets/settings/
/Updater/out
/core/assets/error.txt
/core/assets/mapdata.json
/core/assets/settings/
